@charset "utf-8";

* {
	font-family: 'Poppins';
	background-color: #F0FFF0;
	font-weight: bold;
}
h2 {
	color: #6bf;
}

button {
	background: #6bf;
	border: none;
	font-size: 1.2rem;
	padding: 14px 25px 14px 25px;
	border-radius: 12px;
}
button a {
	text-decoration: none;
	background: #6bf;
	color: #f0fff0;
}
