@charset "utf-8";

* {
	font-family: 'Poppins';
	background-color: #F0FFF0;
	
	
}

@keyframes glow {
	
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff00ff, 0 0 20px #ff00ff, 0 0 25px #ff00ff, 0 0 30px #ff00ff, 0 0 35px #ff00ff;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff;
  }
}

.shine-effect {
  font-size: 2em;
  color: #fff;
  text-align: center;
  animation: glow 1.5s ease-in-out infinite alternate;
}

body {
	display:flex;	
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h2 {
	color: #6bf;
}

.sem-tarefas {
	color: orange;
}

 .error {
            color: red;
            display: none; /* Inicialmente, a mensagem de erro está oculta */
            font-size: 12px;
            
        }

input:not(.btn){
	width: 320px;
	height: 30px;	
	background: #fff;
	border: 1px solid gray;
	border-radius: 5px;
	box-sizing: border-box;
	padding-left: 7px;
	outline: none;
	
}


select {
	background: #fff;
	height: 30px;	
	border-radius: 5px;
	box-sizing: border-box;
	padding-left: 7px;
}

select option {
    width: 320px;	
	border: 1px solid gray;
	
 }




.btn {
	background: #6bf;
	border: none;
	font-size: 1.2rem;
	padding: 8px 14px 8px 14px;
	border-radius: 8px;
	color: #f0fff0;
	margin-top: 15px;
	width: 140px;
	margin: 15px auto;
}
.btn a {
	text-decoration: none;
	background: #6bf;
	color: #f0fff0;
}

.container {
	 position: relative;
    text-align: center;
	}


.total {
    position: absolute;
    right: 0;
    margin: 0;
    font-size: 15px;
  	padding-top: 32px;
    font-weight:bold;
    color: #a6a6a6;
}

#tabela {
	display: inline-block;
    text-align: left;
    margin-top: 57px;
	border-collapse: collapse;
}

#tabela th {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
	background-color: #6bf;
	color: #fff;

}

thead tr .exclui-tudo a{
	background-color: transparent;
	text-decoration: none;
	color: yellow;
	font-size: 13px;
}


#tabela th:nth-child(2), #tabela td:nth-child(2) {
	width: 320px;
}

#tabela th:nth-child(1), #tabela td:nth-child(1) {
	width: 40px;
	text-align: center;
}

#tabela td {
	border: 1px solid #ddd;
	padding: 8px;
	font-weight: bold;
	
	
}

#tabela td:nth-child(1) {
	color: #949494;
	
	
}

tbody tr td{
	background-color: #fff;
	font-size: 15px;
}

tbody tr .acoes{
	text-align: center;
}

tbody tr .acoes a i{
	color: #949494;
	padding: 7px;
	background-color: #fff;
}



.status-cor {
	font-weight: bold;
}

.formulario {
	display: flex;
	flex-direction: column;
	gap: 12px;
	
}
































